.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.loginButtons {
    display: flex;
    justify-content: space-around;
}

.loginButtons button {
    width: 150px;
}